# files
*.pyc
*.ipynb_checkpoints
.DS_Store
.env

# folders
.pytest_cache/
.vscode/
_build/
_pycache_/
build/
dist/
files/
storage/
osllmh.egg-info/

# include below even though they are excluded above
!.gitkeep